@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: rgba(96, 96, 208, 0.348);
  padding: 1px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container img {
  height: 120px;
}
.navbar {
  padding: 0 20px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.navbar ul li a:hover {
  color: rgba(0, 0, 255, 0.553);
}
footer {
  background-color: rgba(0, 0, 0, 0.512);
  color: black;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  margin-top: 40px;
  box-shadow: 0-1px 5px regb(0, 0, 0, 0.5);
}
footer span {
  font-family: "Allura", cursive;
  font-size: 50px;
  font-weight: bold;
  color: rgb(16, 16, 84);
}
footer .social-icons {
  margin-top: 10px;
}
footer .social-icons a {
  margin: 0 10px;
  color: rgb(16, 16, 84);
  font-size: 24px;
  transition: color 0.3s ease;
}
footer .social-icons a:hover {
  color: rgba(0, 0, 255, 0.238);
}
