.services-page {
  padding: 50px 10%;
  text-align: center;
}

.services-page h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: rgba(21, 21, 207, 0.7);
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cards {
  background-color: rgb(252, 252, 254);
  width: 280px;
  height: auto;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: translateY(-5px);
}

.cards img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 8px;
}

.cards h3 {
  color: rgb(81, 81, 228);
  margin-bottom: px;
}

.cards p {
  color: #555;
  font-size: 14px;
  margin-bottom: 14px;
}
.cards .btn {
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.3s ease;
}

.cards .btn:hover {
  background: rgb(81, 81, 228);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .service-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }

  .service-cards img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .cards .btn {
    margin-left: 7px;
  }
}

@media (max-width: 468px) {
  .service-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-cards img {
    width: 100%;
    height: auto;
  }
  .cards {
    width: 300px;
    margin-left: 25px;
  }
}
